@import "tailwindcss";

.font-amiri {
  font-family: 'Amiri', serif;
}

body {
  @apply transition-colors duration-300;
}

.dark body {
  background-color: #020617;
  color: #f8fafc;
}

/* تحسين شكل السكرول بار في الوضع الداكن */
.dark ::-webkit-scrollbar-track {
  background: #0f172a;
}
.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
